{{> header}}
<div class="flex self-center w-full max-w-6xl gap-4 px-5 mt-5">
  <main class="flex flex-col w-full gap-4 p-6">
    <h1 class="text-2xl font-semibold">Confirmación de la orden</h1>
    <div class="my-4">
      <h2 class="text-lg font-semibold">Productos</h2>
      <ul class="grid grid-cols-3 gap-4">
        {{#each cart.products}}
          <li class="flex items-center">
            <a href="/products/{{this.product.slug}}" class="w-full overflow-hidden border rounded-lg border-zinc-300">
              <img class="object-cover w-full aspect-video" src="{{this.product.images.[0]}}" alt="">
              <div class="flex items-start justify-between p-4">
                <h2 class="text-lg font-semibold">{{this.product.title}}</h2>
                <div class="flex flex-col items-end">
                  <div class="flex items-center gap-2">
                    <span class="text-zinc-600">{{this.quantity}}</span>
                    <span class="text-zinc-600">x</span>
                    <span class="italic text-zinc-600">${{this.product.price}}</span>
                  </div>
                  <span class="text-lg italic font-bold text-green-600">${{this.total}}</span>
                </div>
              </div>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="my-4">
      <h2 class="text-lg font-semibold">Información del usuario</h2>
      <ul>
        <li><span class="font-semibold">Nombre:</span> {{cart.user.name}}</li>
        <li><span class="font-semibold">Correo electrónico:</span> {{cart.user.email}}</li>
        <li><span class="font-semibold">Teléfono:</span> {{cart.user.phone}}</li>
      </ul>
    </div>
    <div class="my-4">
      <h2 class="text-lg font-semibold">Dirección de entrega</h2>
      <input type="text" id="address" class="w-full p-1 px-4 py-2 border rounded-md border-zinc-300 focus:outline-none focus:ring focus:border-blue-500" placeholder="Ingrese su dirección de entrega" required>
    </div>
    <div class="my-4">
      <h2 class="text-lg font-semibold">Total</h2>
      <span class="font-semibold">Subtotal:</span>
      <span>${{subtotal}}</span>
    </div>
    <button onclick="placeOrder()" class="px-4 py-2 rounded-lg bg-sky-500 text-sky-50">Confirmar orden</button>
  </main>
</div>
<script>
  function placeOrder() {
    const address = document.getElementById('address').value;

    fetch('/api/orders', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        address
      })
    }).then(res => res.json())
      .then(data => {
        console.log(data);

        if (data.error) {
          alert(data.message);
        } else {
          const { _id } = data;
          window.location.href = `/orders/placed`;
        }
      })
      .catch(err => console.error(err));
  }
</script>
