<header class="flex items-center justify-between w-full p-4 border-b border-zinc-300">
  <a href="#" class="text-xl">
    Coderhouse ECommerce
  </a>
  <div class="flex items-center gap-2">
    <div class="flex flex-col items-end">
      <span>{{session.name}}</span>
      <span class="text-sm text-zinc-600">{{session.role}}</span>
    </div>
    <img class="h-10 rounded-lg" src={{session.avatar}}>
    <a href="/logout"
      class="p-2 border rounded-lg border-zinc-300 bg-zinc-50">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm10.72 4.72a.75.75 0 011.06 0l3 3a.75.75 0 010 1.06l-3 3a.75.75 0 11-1.06-1.06l1.72-1.72H9a.75.75 0 010-1.5h10.94l-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
      </svg>
    </a>
  </div>
</header>
<main class="flex self-center w-full max-w-6xl gap-4 px-5 mt-5">
  <section class="flex flex-col w-full h-20 gap-2">
    <h1 class="text-lg font-semibold">Productos</h1>
    <div class="grid grid-cols-2 gap-2">
      {{#each products}}
        <article class="w-full overflow-hidden border rounded-lg border-zinc-300">
          <img class="object-cover w-full aspect-video" src={{this.image}} alt="">
          <div class="p-4">
            <h2 class="text-lg font-semibold">{{this.name}}</h2>
            <div class="flex justify-between">
              <span class="italic text-zinc-600">${{this.price}}</span>
              <button
                onclick="addToCart('{{this._id}}')"
                class="p-2 text-sm text-white bg-blue-500 rounded-lg">Añadir al carrito</button>
            </div>
          </div>
        </article>
      {{/each}}
    </div>
  </section>
  <aside class="flex flex-col w-2/5 min-h-[200px] gap-2 pl-4 border-l border-zinc-300">
    <section class="flex flex-col gap-2">
      <h2 class="text-lg font-semibold">Carrito</h2>
      <div id="cart" class="flex flex-col gap-2"></div>
      <div class="flex flex-col">
        <span class="text-sm">Subtotal: <span id="subtotal">$0</span></span>
        <button
          onclick="makeOrder('{{session.id}}')"
          class="w-full px-4 py-2 text-sm text-center text-white bg-blue-500 rounded-lg hover:bg-blue-600">
          Realizar pedido
        </button>
      </div>
    </section>
    {{#ifEquals session.role 'admin'}}
    <section>
      <h2 class="text-lg font-semibold">Acciones</h2>
      <a href="/products/add" class="flex flex-col w-full p-4 border rounded-lg border-zinc-300 bg-zinc-50">
        <h3 class="text-base font-semibold">Añadir nuevo producto</h3>
        <p class="text-sm text-zinc-600">Crear un nuevo producto y publicarlo</p>
      </a>
    </section>
    {{/ifEquals}}
  </aside>
</main>
<script src="/javascript/cart.js"></script>